@import './base.css';

#app {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;

	font-weight: normal;
}

input,
button {
	border: none;
	outline: none;
	display: inline-block;
	font-family: inherit;
	background-color: transparent;
	color: white;
}

.form {
	margin-top: 100px;
	padding: 20px;
	display: flex;
	gap: 20px;
	flex-direction: column;
}

input {
	border: 1px solid lightblue;
	padding: 10px 20px;
}

button {
	border: 1px solid lightblue;
	cursor: pointer;
	padding: 10px 0;
}
